.my-input-container{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DCDDEC;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.pac-target-input {
    border: none;
    outline: none;
    width: 90%;
    font-weight: 500;
    font-size: 14px;
    height: 34px;
}

.pac-target-input:focus {
    background: #FFFFFF;
    outline: none;
}
.my-input-icon{
    font-size: 20px !important;
    margin-left: 10px;
}
.my-input-label{
    font-size: 14px !important;
    color: black !important;
}
@media only screen and (max-width: 600px){
    .my-input-label{
        display: none !important;
    }
}